  /* Apply a basic styling to the body */
  div {
    font-family: 'Arial', sans-serif;
    background-color: royalblue;
    color: azure;
    box-sizing: content-box;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
  }
  
  /* Style for the header */
  header {
    background-color: #333;
    color: #82e6ff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    font-size: 28px;
  }

  img {
    max-width: 200px;
    max-height: 200px;
  }
  
  /* Style for the left-side links */
  header a {
    color: #82e6ff;
    text-decoration: none;
    margin-right: 20px;
  }
  
  /* Style for the right-side link (Login/Register) */
  header a:last-child {
    padding: 10px;
    margin-right: 5;
    margin-left: auto;
  }
  
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  flex: 1;
  text-align: center;
}

label, div, select {
  margin-bottom: 10px;
}

p {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10%;
  font-size: 22px;
  margin-left: 25%;
  margin-right: 25%;
}

h1 {
  margin-top: 20px;
  margin-left: 20px;
}

div {
  justify-content: center;
  align-items: center;
  font-size: 22px;
}